html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 40px 120px 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Poppins', sans-serif;
}

.footer-center {
  margin-top: 10px; 
  text-align: center;
  margin-left: 40px;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-width: 280px;
}
.footer-brand h2 {
  margin-top: 10px;
  font-size: 1.4rem;
}

.footer-brand p {
  color: #bbb;
  font-size: 0.9rem;
}

.logo-footer {
  width: 70px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  list-style: none;
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.9rem;
  
}

.footer-links a:hover {
  color: #ff6600;
}

.footer-center h3,
.footer-right h3 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.footer-right{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.newsletter {
  display: flex;
  gap: 8px;
}

.newsletter input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background: #1f1f1f;
  color: #fff;
}

.newsletter button {
  padding: 8px 14px;
  background-color: #ff6600;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.newsletter button:hover {
  background-color: #ff7b1a;
}

.footer-contact p {
  color: #ccc;
  font-size: 0.9rem;
}

.footer-contact i {
  margin-right: 8px;
  color: #ffffff;
}

.footer-medias {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  justify-content: flex-end;
  text-align: end;
}

.footer-medias a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer-medias a:hover {
  color: #ff6600;
}

.footer-bottom {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: #aaa;
}

.footer-policy a {
  color: #aaa;
  text-decoration: none;
  margin: 0 4px;
}

.footer-policy a:hover {
  color: #ff6600;
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 30px 15px;
  }

  .newsletter {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 6px;
  }
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 30px 15px;
  }

  .footer-center {
    margin-top: 0; 
  }
}

.hr-contato {
  width: 40px;
  height: 2px;
  background-color: #ff6600;
  border: none;
  margin-left: 31rem;
  margin-top: -16px; 
}
